# ld65 config for the 32 KiB Famicom Disk System SMMAIN program file.

MEMORY {
    ROM0: file = %O, start = $6000, size = $7FFA, fill = yes, fillval = $FF, define = yes;
    ROMV: file = %O, start = $DFFA, size = $0006, fill = yes, fillval = $FF;
}

SEGMENTS {
    PRG: load = ROM0, type = rw;
    VECTORS: load = ROMV, type = rw;
}
